{% extends 'base.html' %}
{% block body %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title"> Notifications</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Students</a></li>
                <li class="breadcrumb-item active"> Notifications</li>
             </ul>
          </div>
       </div>
    </div>
    
    <!-- Added Messages -->
    {% include 'includes/messages.html' %}

    <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table id="table_id" class="table table-hover table-center mb-0">
                       <thead>
                          <tr>
                             <th>Message</th>
                             <th>Status</th>
                          </tr>
                       </thead>
                       <tbody>
                         {% for notification in notifications %}
                          <tr>
                             <td>{{notification.message}}</td>
                             {% if notification.status == 0 %}
                             <td><a  href="{% url 'student_mark_as_read' notification.id %}" class="btn btn-danger">Mark as read</a></td>
                             {% else %}
                             <td><span class="badge text-bg-success">Seen</span></td>
                             {% endif %}
                          </tr>
                         {% endfor %}
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
 </div>
{% endblock %}
