{% extends 'base.html' %}
{% block head %}
    <style>
        #profupdate{
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block body %}
<div class="page-header">
  <div class="row align-items-center">
     <div class="col">
        <h3 class="page-title">View Attendance</h3>
        <ul class="breadcrumb">
           <li class="breadcrumb-item"><a href="students.html">Students</a></li>
           <li class="breadcrumb-item active">View Attendance</li>
        </ul>
     </div>
  </div>
</div>
{% if action is None %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body row justify-content-center">
          <form enctype="multipart/form-data" method="post" action="?action=view_attendance">
              {% csrf_token %}
            <div class="col-12">
              <h5 class="form-title text-center"><span>Student Attendance Display</span></h5>
            </div>
            <!--Added Messsages  -->
            {% include 'includes/messages.html' %}

            <div class="col-12 col-sm-6" id="profupdate">
                <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control form-select" name="subject_id" required>
                        <option>Select Subject</option>
                    {% for i in subjects %}
                       <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">View Attendance</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body row justify-content-center">
          <form enctype="multipart/form-data" method="post" action="">
              {% csrf_token %}
            <div class="col-12">
              <h5 class="form-title text-center"><span>Student Attendance Display</span></h5>
            </div>
            <!--Added Messsages  -->
            {% include 'includes/messages.html' %}

            <div class="col-12 col-sm-6" id="profupdate">
                <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control form-select" name="subject_id" disabled>
                       <option value="{{i.id}}">{{get_subject}}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="card card-table">
                          <div class="card-body">
                             <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-center mb-0">
                                   <thead>
                                      <tr>
                                         <th>Date</th>
                                         <th>Subject Name</th>
                                         <th>Session Year</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                     {% for attendance_report in attendance_reports %}
                                      <tr>
                                         <td>{{attendance_report.attendance_id.attendance_date}}</td>
                                         <td>{{attendance_report.student_id.admin.first_name}} {{attendance_report.student_id.admin.last_name}}</td>
                                         <td>{{attendance_report.attendance_id.session_year_id}}</td>                                      </tr>
                                     {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
