{% extends 'base.html' %}
{% block head %}
    <style>
        #profupdate{
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block body %}
<div class="content container-fluid">
  <div class="page-header">
     <div class="row align-items-center">
        <div class="col">
           <h3 class="page-title">Take Attendance</h3>
           <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"> Attendance</a></li>
              <li class="breadcrumb-item active">Take Attendance</li>
           </ul>
        </div>
     </div>
  </div>
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body row justify-content-center">
          {% if action is None %}
          <form action="?action=get_student" method="post" >
              {% csrf_token %}
            <div class="col-12">
              <h5 class="form-title text-center"><span>Take Attendance</span></h5>
            </div>
            <!--Added Messsages  -->
            {% include 'includes/messages.html' %}

            <div class="col-12 col-sm-6" id="profupdate">
                <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control form-select" name="subject_id" required>
                        <option>Select Subject</option>
                    {% for i in subjects %}
                       <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6" id="profupdate">
                <div class="form-group">
                    <label>Session_Year</label>
                    <select class="form-control form-select" name="session_year_id" required>
                        <option>Select Session_Year</option>
                    {% for i in session_years %}
                       <option value="{{i.id}}">{{i.session_start}} to {{i.session_end}} | Duration: {{i.duration}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Fetch Students</button>
            </div>
          </form>
          {% else %}
          <form method="post" action="{% url 'staff_save_attendance' %}">
            {% csrf_token %}
          <div class="col-12">
            <h5 class="form-title text-center"><span>Take Attendance</span></h5>
          </div>
          <!--Added Messsages  -->
          {% include 'includes/messages.html' %}

          <div class="col-12 col-sm-6" id="profupdate">
              <div class="form-group">
                  <label>Subject</label>
                  <select class="form-control form-select" name="subject_id" required>
                     <option value="{{get_subject.id}}">{{get_subject}}</option>
                  </select>
              </div>
          </div>
          <div class="col-12 col-sm-6" id="profupdate">
              <div class="form-group">
                  <label>Session Year</label>
                  <select class="form-control form-select" name="session_year_id" required>
                     <option value="{{get_session_year.id}}">{{get_session_year}}</option>  
                  </select>
              </div>
          </div>

          <div class="col-12 col-sm-6" id="profupdate">
            <div class="form-group">
              <label>Attendance Date</label>
              <input type="date" class="form-control" name="attendance_date" required/>
            </div>
          </div>
          {% for student in students %}
          <div class="col-12 col-sm-6 form-check" id="profupdate">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" value="{{student.id}}"  name="student_id">
              <label class="form-check-label" for="exampleCheck1">{{student.admin.first_name}} {{student.admin.last_name}}</label>
            </div>
          </div>
          {% endfor %}
          
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
          {% endif  %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}